.regform{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aquamarine;
    width: 50%;
    height: auto;
    margin: auto;
    padding: 10px;
}
h1{
    text-align: center;
    color: red;
}

.input {

    width: 100%;

}

button{

    background-color: red;
    width: 40%;
    padding: 2%;
    margin: 5%;
    
    

}
