ul{

   list-style-type: none;
   margin: 0%;
   padding: 0%;
   height: auto;
}

li a{

    width: 200px;
    display: inline block;
    padding-bottom: 20px;
    text-decoration: none;
    background-color: blueviolet;
    color: white;
    padding-left: 40px;
    padding-top: 5px;
    border: 2px solid   white;
    

}

li a:hover{

    background-color: black;
    color: blueviolet;
}

.active{

    
    background-color: black;
    color: blueviolet;
   
}

li{

    display: inline;
}

